<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Night Bill</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename=system.company.logo) }}?v=1.0.2">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename=system.company.logo) }}?v=1.0.2">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reports.css') }}">
</head>

<body>
    <h1>Night Bill - Coming Soon</h1>
    <a href="{{ url_for('main.index') }}">Back to Dashboard</a>
</body>

</html>